 body {
     margin: 0;
     padding: 0;
     object-fit:cover ;
     text-align: center;
     vertical-align: middle;
     font-family: 'Libre Franklin', sans-serif ;

 }
 h1 {
     padding-top: 10px;
     font-family: 'IBM Plex Mono', monospace;

 }
 .center-text {
     left: 0;
     position: absolute;
     top: 50%;
     width: 100%;
     margin-bottom: auto;
 }
 h2 {
    font-size: 18px;
    padding: 35px;
 }


 .topnav {
     overflow: hidden;
     background-color: #333;
 }

 .topnav a {
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
 }

 .topnav a:hover {
     background-color: #ddd;
     color: black;
 }

 .topnav a.active {
     background-color: #04AA6D;
     color: white;
 }
 .box{
     display: flex;
     justify-content: stretch;
     justify-items: center;
     justify-self: center ;
     flex-direction: row;
     align-items: center;
     margin: 0 auto;
     padding-bottom: 10px;
 }

 .projects-page .box img {
     border: 1px solid #ddd;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 .box2{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     justify-items: auto;
     justify-self: center ;
     flex-direction: row;
     align-items: center;
     margin: 0 auto;
     padding-bottom: 10px;

 }
 .contentbox2{
     padding: 10px;
 }
 .grid {
     display: grid;
     grid-auto-columns: 1fr;
     grid-template-columns: 1fr 1fr;
     grid-row-gap: 16px;
     grid-column-gap: 16px;
     justify-content: center;
     align-content: center;
 }

 .column{
     display: flex;
     flex-direction: column;
     flex: auto;
 }

 .footer {
     /* position:fixed;
       width: 100%;*/
     left: 0;
     bottom: 0;

     padding: 10px;
     text-align: center;
     /*todo update all footer year*/
 }

 .name-logo{
     display: flex;
     flex-direction: column;
     /*font-family: "Trap-Bold", Helvetica, serif;*/
     color: var(--variable-collection-logo-color);
     font-weight: 800;
     font-size: 1.5em;
     text-align: center;
     position: relative;

 }


 .crea-section {
     position: fixed;
     width: 100%;
     height: 924px;
     top: 0;
     left: 0;
 }

 .my-advice {
     position: fixed;
     width: 100%;
     height: 924px;
     top: 0;
     left: 0;
     padding: 10px;
 }

 .overlap {
     position: relative;
     width: 100%;
     height: 924px;
     background-color: #454444;
 }

 .temp-logo {
     position: absolute;
     width: 814px;
     height: 351px;
     top: 271px;
     left: 148px;
 }

 .overlap-group {
     position: relative;
     width: 100%;
     height: 351px;
     background-color: #ed9717;
     border-radius: 42px;
 }

 .text-wrapper {
     width: 551px;
     height: 188px;
     top: 81px;
     left: 50%;
     transform: translateX(-50%);
     font-family: "Trap-ExtraBold", Helvetica, serif;
     font-weight: 800;
     color: var(--variable-collection-logo-color);
     font-size: 85px;
     text-align: center;
     position: absolute;
     letter-spacing: 0;
     line-height: normal;
 }


 .crea-lo-que-tu {
     width: 483px;
     top: 162px;
     left: 50%;
     transform: translateX(-50%);
     font-family: "SF Pro Text-RegularItalic", Helvetica, serif;
     /*todo upload ^ font*/
     font-weight: 400;
     font-style: italic;
     color: #d9d9d9;
     font-size: 32px;
     position: absolute;
     letter-spacing: 0;
     line-height: normal;
 }

 @font-face {
     font-family: "Trap-ExtraBold"; src: url("/assets/css/Trap-ExtraBold.otf");

 }

@font-face {
    font-family:"trap-bold"; src: url("/assets/css/Trap-Bold.otf");
}
 @font-face{
     font-family: "SF Pro Text-RegularItalic"; src: url("/assests/css/");
     /*todo upload font file to css folder*/
 }

 .crea-section.box {
     padding: 10px;
     background-color: #454444;
 }

 .embed-container{
     padding: 10px;
 }

 /* <weight>: Use a value from 100 to 900*/
 /* <uniquifier>: Use a unique and descriptive class name*/

 .museomoderno-100 {
    font-family: "MuseoModerno", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}
 .museomoderno-300 {
     font-family: "MuseoModerno", serif;
     font-optical-sizing: auto;
     font-weight:500;
     font-style: italic;

 }
