:root {
    --variable-collection-logo-color: rgba(136, 47, 177, 1);
}



/* fonts */

/* <weight>: Use a value from 100 to 900*/
/* <uniquifier>: Use a unique and descriptive class name*/

.museomoderno-100 {
    font-family: "MuseoModerno", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}
.museomoderno-300 {
    font-family: "MuseoModerno", serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: italic;
}

@font-face {
    font-family: "Trap-ExtraBold"; src: url("/assets/css/Trap-ExtraBold.otf");

}

@font-face {
    font-family:"trap-bold"; src: url("/assets/css/Trap-Bold.otf");
}
@font-face{
    font-family: "SF Pro Text-RegularItalic"; src: url("/assests/css/SF-Pro-Text-RegularItalic.otf");
}
/* General reset and box styling */
#crea-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f9f9f9; /* Optional background for the section */

}

/* Box containing the paragraphs */
.box3 {
    width: 90%;
    max-width: 600px;
    align-items: center;
    margin: 12px auto;
    padding: 20px;
    background-color: #fff; /* Ensure a distinct background */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Style for paragraphs with rounded corner boxes */
.box3 p {
    background-color: #ffa500; /* Orange background for the boxes */
    color: #4b0082; /* Purple text color */
    padding: 15px;
    border-radius: 15px; /* Rounded corners */
    margin-bottom: 20px; /* Space between paragraphs */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional box shadow for depth */
    text-align: justify; /* Align text for readability */
}

/* Name-logo specific paragraph */
.name-logo p {
    /*font-family: 'trap-Bold', ui-serif; !* Bold font for emphasis *!*/
    text-align: center;
    font-size: 1.5em;
}