 body {
     margin: 0;
     background-image: url("https://d-baez.github.io/assets/images/mesh-gradient-1.jpg");
     object-fit:cover ;
     text-align: center;
     vertical-align: middle;
     font-family: 'Libre Franklin', sans-serif;
 }
 h1{
     font-family: 'IBM Plex Mono', monospace;
 }

 .topnav {
      overflow: hidden;
      background-color: #333;
 }

 .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
 }

 .topnav a:hover {
      background-color: #ddd;
      color: black;
 }

 .topnav a.active {
      background-color: #04AA6D;
      color: white;
 }
